<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Search</title>
</head>
<body>
  <h1>Search</h1>

  {% comment %} Django 에서는 뒤에 '/' 꼭 붙여야 한다. {% endcomment %}
  <form action="/result/">
    <input type="text" name="query" placeholder="검색어 입력"><br>
    <input type="text" name="category" placeholder="카테고리 입력">
    <button type="submit">검색하기</button>
  </form>

</body>
</html>